<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Result</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        h1{
            color: rgb(156, 49, 101);
        }
        h2{
            color: rgb(156, 49, 101);
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1>Prediction Result</h1>
        <hr>
        
        <h2>SVM Prediction:</h2>
        {% if svm_prediction == 1 %}
            <p>The model predicts ASD.</p>
        {% else %}
            <p>The model predicts Normal.</p>
        {% endif %}
    </div>
</body>
</html>
